<header class="taskOptions">
  <div class="dropdown">
    <button class="btn dropdown-toggle" data-toggle="dropdown">+ New</button>
    <ul class="dropdown-menu pull-right" role="menu">
      <li class="tasksAction">
        <a href="#"
        {{action new target="controller"}}>Task</a>
      </li>
    </ul>
  </div>
</header>
<section class="tasksList">
{{#each controller.content}}
  {{view App.TaskView}}
{{/each}}
</section>